{% if successful %}
<h2>Successful chats:</h2>
<ol>
    {% for chat in successful %}
    <li>{{chat}}</li>
    {% endfor %}
</ol>
<h2>Failed chats:</h2>
<ol>
    {% for chat in failed %}
    <li>{{chat}}</li>
    {% endfor %}
</ol>
{% else %}
<form action="" method="post">
    <label for="chats">Chats: (write with ',')</label><br>
    <input type="text" name="chats"><br>
    <label for="message">Message:</label><br>
    <textarea name="message"></textarea><br>
    {% csrf_token %}
    <input type="submit" value="Send">
</form>
{% endif %}